#!/usr/bin/make -f

# clean build from git (including .orig.tar.gz if non-existent):
gbp:
	gbp buildpackage --git-upstream-branch=master --git-upstream-tree=branch --git-debian-branch=debian-experimental \
	  --git-pbuilder '-I.*' '-i.git\|.cproject\|.project\|.settings' --git-dist=experimental
.PHONY: gbp

%:
	dh $@ --with xul-ext

override_dh_auto_install:
	install-xpi bin/gnome-keyring-integration.xpi
